@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

$font: 'Lato', sans-serif;
$color__text-base-one: #FFFFFF;
$color__text-base-two: #000000;
$color__text-accent: #42A9ED;



body{
    font-family: $font;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: $color__text-base-one;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}

.color-accent{
    color: $color__text-accent;
}
.buttom{
  display: inline-block;
  font-weight: 400;
  font-size: 13px;
  padding: 15px 31.48px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: $color__text-base-two;
}

.header {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-top {
  position: fixed;
  top: 0px; 
  left: 0px;
  right: 0px;
  z-index: 999;       
  background: rgba(16, 16, 29, 0.9);
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-top: 33px;
        padding-bottom: 40px;
    }
}
.logo {
  &__img {}
}
.menu {
    text-transform: uppercase;
    
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    
  }
  &__item + &__item{
    padding-left: 59px;
    
  }
  &__link {
    &:hover{
      color: $color__text-accent;
    }
  }
  &__btn{
    opacity: 0;
}
}
.header-content {
    color: $color__text-base-two;
  &__wrapper{

  }
  &__title {
    padding-top: 215px;
    padding-bottom: 80px;
    max-width: 720px;
  }
  &__slogan {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;
  }
  &__items {
    list-style: none;
    padding-bottom: 75px;
  }
  &__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 5px;
    &:before {
        content:  "—";
        position: relative;
        left: -5px;
    }
  }
  &__buttom{
    padding-bottom: 202px;
  }
  &__btn{
    width: 183px;
  }
  &__btn + &__btn{
    margin-left: 30px;
  }
}
.btn-order{
  background-color: $color__text-accent;
  color: $color__text-base-one;
  border: 1px solid $color__text-base-one;
  &:hover{
    box-shadow: 1px 1px $color__text-base-one; 
    transform: translate(-3px, -3px);  
  }
}
.btn-detail{
  background-color: $color__text-base-one;
  color: $color__text-base-two;
  border: 1px solid #6F6D7B;
  &:hover{
    box-shadow: 1px 1px $color__text-base-two; 
    transform: translate(-3px, -3px); 
  }
}

//

.order-registration {
  background-image: url(../images/order-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    color: $color__text-base-one;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    padding-top: 121px;
    padding-bottom: 30px;
  }
  &__text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 80px;
  }
  &__work {
    padding-bottom: 80px;
  }
  &__form {
    padding-bottom: 151px;
  }
}

.work {
  &__items {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    text-align: center;
    position: relative;
    &::before{
      content: url(../images/EllipseGroup.svg);
      position: absolute;
      top: 43px;
      right: -96px;
    }
    &:last-child::before{
      content: none;
    }
  }
  &__img {
    padding-bottom: 20px;
    
  }
  &__info {
    
  }
}
.form-order {
  &__info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  &__input{
    
    
  }
  &__select {
    width: 370px;
    z-index: 10;
  }
  &__email {
    width: 370px;
    height: 48px;
    padding: 12px 35.52px 12px 10px;
    
  }
  &__name {
    width: 370px;
    height: 48px;
    padding: 12px 35.52px 12px 10px;
    
  }
  &__aside{
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
  }
  &__range {}
  &__btn {
    width: 370px;
    padding: 17.5px 124.98px;
    &:hover{
      box-shadow: 1px 1px $color__text-base-one; 
      transform: translate(-3px, -3px); 
    }    
  }
  &__btn-wrapper{
    display: flex;	
    justify-content: center;
  }
  &__file{
    z-index: 5;
  }
}

//селект

.select {
  position: relative;
	
	&__btn {
    display: flex;
    padding: 12px 14px 12px 10px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    &::after {
      color: $color__text-base-two;
      float: right;
      margin-left: 5px;
      content: "\276F";
      width: 25px;
      height: 5.2px;
      text-align: center;
      transition: all .35s;
      transform: rotate(90deg);
    }
  }
  &__title{ 
  }
  &__options {
    position: relative;
    border-radius: 0px 0px 3px 3px;
    background: rgba(39, 39, 51, 0.9);
    display: none;
    overflow-y: scroll;
    height: 179.5px;
    position: absolute;
    width: 100%;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #3D4050;   
  }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $color__text-accent;
  }
  }
  &__option {
    display: flex;
    cursor: pointer;
    padding: 8px 161px 8px 10.35px;
    align-items: center;
    background: inherit;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: $color__text-base-one;
    &:hover {
      color: $color__text-accent;
    }
  }
  &--active .select__btn{
    background: rgba(61, 64, 80, 0.85);
    border-radius: 3px 3px 0px 0px;
    border: none;
    color: $color__text-base-one;
    &::after {
      transform: rotate(-90deg);
      color: $color__text-base-one;
  }

  }
  &--active .select__options {
    display: block;
      border: 1px solid rgba(61, 64, 80, 0.85);;
      border-top: 0;
  }
}


// конец селекта

.form{
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid $color__text-base-one;
  border-radius: 3px;
  font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $color__text-base-two;
    &::-webkit-input-placeholder { 
      color: $color__text-base-two;
      
    }
    &:-moz-placeholder{
      color: $color__text-base-two;
    }

}

.range {
  font-size: 18px;
  line-height: 22px;
  &__info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16.44px;
  }
  &__text {
    font-weight: 400;
    color: $color__text-base-one;
  }
  &__value {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
    &:after {
        content: '%';
      }
  }
  &__slide {
    width: 777px;
    background: rgba(255, 255, 255, 0.7);
    height: 15px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    border-radius: 25px;
    border: 1px solid $color__text-base-one;
    border-radius: 15px;
    outline: none;
    &::-webkit-slider-thumb{
      cursor: pointer;
      appearance: none;
      height: 23.72px;
      width: 23.72px;
      background: $color__text-accent;
      border: 3px solid #286690;
      border-radius: 50%;
      -webkit-appearance:none;  
    }
  }
}

//

.file {
  position: relative;
  text-align: center;
  &__button{
    width: 100%;
  max-width: 370px;
  height: 60px;
  background: $color__text-base-one;
  padding: 12px 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  }
  &__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
  }
  &__file-icon-wrapper {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
  }
  &__file-icon {}
  &__file-button-text {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: $color__text-base-two;  
    
  }
}

.buttom-send{
  background: $color__text-accent;
    border: 1px solid $color__text-base-one;
    border-radius: 4px;
    text-transform: uppercase;
    color: $color__text-base-one;
}
//


// footer

.footer {
  
  background-color: #3D4050;
  &__desc {
    
  }
  &__payment {}
  &__social {}
  &__wrapper{
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
  }
}

.payment {

  &__items {
    &::before{
      content: url(../images/line.svg);
      padding-right: 40px;
    }
    &::after{
      content: url(../images/line.svg);
      padding-left: 40px;
    }
  }
  &__item {
    align-items: center;
  }
  &__item + &__item{
    padding-left: 35px;
  }

  &__name {
    width: 100%;
    padding-left: 8px;
  }
  
}
.social {
  &__items {
  }
  &__item {
    align-items: center;
  }
  &__item + &__item{
    padding-left: 45px;
  }
  &__link {
    align-items: center;
  }
  &__img {}
  &__info{
    padding-left: 10px;
  }
}

.flex{
  display: flex;
  justify-content: space-between;
} 

.desc{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}


// adaptive
@media (max-width: 1280px){
  .header-top__content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-content__wrapper{
    padding-left: 10px;
  }
  
  .range__value{
    padding-right: 25px;
  }
  .payment__items::after {
    padding-left: 25px;
  }
}

@media (max-width: 1160px) {
  .form-order__select {
    width: 325px;
  }
  .form-order__email {
    width: 325px;
  }
  .form-order__name {
    width: 325px;
  }
  .range__slide {
    max-width: 705px;
  }
  .file__button {
    max-width: 325px;
    padding: 12px 70px;
  }
  .order-registration__form {
    padding-bottom: 115px;
  }
  .range__value{
    padding-right: 15px;
  }

  .payment__items::after {
    padding-left: 15px;
  }
  .payment__items::before {
    padding-right: 15px;
  }
  .payment__item + .payment__item {
    padding-left: 13px;
  }
  .social__item + .social__item {
    padding-left: 25px;
}
.footer__wrapper{
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 20px;
}
.footer__desc-wrapper{
  width: 100%;
  padding-bottom: 20px;
}
.footer__payment{
  width: 50%;
  justify-content: center;
}
.footer__social{
  width: 50%;
  justify-content: center;
}
.payment__items{
  justify-content: flex-end;
}
.payment__items::before {
  content: none;
}
.social__items{
  justify-content: flex-start;
}

.payment__items::after {
  padding-left: 15px;
  padding-right: 15px;
}
.footer__desc {
  padding-top: 20px;
  padding-bottom: 0px;
  justify-content: center;
  display: flex;
}
}



@media (max-width: 1024px) {
  .header-content__wrapper{
    padding-left: 20px;
  }
  .header-content__title {
    padding-top: 200px;
    padding-bottom: 75px; 
  }
  .header-content__buttom {
    padding-bottom: 150px;
  }
  .form-order__info {
    flex-wrap: wrap;
  }
  .form-order__select {
    width: 100%;
    padding-bottom: 14px;
  }
  .form-order__input{
    width: 50%;
  }
  .form-order__email {
    width: 100%;
  }
  .form-order__input + .form-order__input{
    padding-left: 10px;
  }
  .form-order__name {
    width: 100%;
  }
  
  .file__button {
    max-width: 300px;
    padding: 12px 50px;
  }
  .range__slide {
    max-width: 680px;
  }
  // .work__item::before{
  //   content: url(../images/Ellipse3.svg);
  //   right: -49px;
  // }
}
@media (max-width: 955px){
  .range__slide {
    max-width: 485px;
  }

.work__items{
  flex-wrap: wrap;
}
.order-registration__work{
  padding-bottom: 50px;
}
.work__item{
  width: 33.33%;
  padding-bottom: 30px;
}
.work__item:nth-child(3n)::before{
  content: none;
  }
  .work__item::before {
    right: -50px;
} 
.work__item:nth-child(4)::before{
  right: -130px;
  } 

}


@media (max-width: 780px) {
  .header-content__title {
    padding-top: 180px;
    padding-bottom: 50px;
    max-width: 500px;
  }
  .title {
    font-size: 40px;
  }
  
  .header-content__buttom {
    padding-bottom: 110px;
}
    
    
    .menu {
      padding-top: 140px;
      height: 100%;
      background: rgba(16, 16, 29, 0.9);
      position: fixed;
      top: 0;
      z-index: 20;
      display: flex;
      flex-flow: column;
      overflow-y: auto;
      right: -200%;
      -webkit-transition: 0.8s;
      -moz-transition: 0.8s;
      -o-transition: 0.8s;
      transition: 0.8s;
      &__btn {
        position: absolute;
        top: 5px; 
        right: 10px;
        z-index: 30;
        width: 80px;
        height: 80px;
        background-color: transparent;
        border: none;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        opacity: 1;
      }
      &__item + &__item{
          padding-left: 0;
      }
      &__item{
          font-size: 24px;
          padding-bottom: 40px;
          text-align: center;
      }
      &__list{
          display: block;
      }
      &__link{
          padding: 18px 35px;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 5px;
          font-weight: 400;
          color: $color__text-base-one;
      }
      &__overlay {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          z-index: 10;
        }
      &__lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &::before {
          content: '';
          top: -12px;
          left: 0;
        }
        &::after {
          content: '';
          top: 12px;
          left: 0;
        }
      }
    }

    .menu__lines::before,
    .menu__lines::after,
    .menu__lines {
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: $color__text-accent;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }
    
    .menu__burger--active .menu__lines {
      background-color: transparent;
    }
    .menu__burger--active .menu__lines::before {
      top: 0;
      transform: rotate(45deg);
    }
    .menu__burger--active .menu__lines::after{
      top: 0;
      transform: rotate(-45deg);
    }

    .menu__burger--active .menu {
      right: 0;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }
    .menu__burger--active .menu__overlay {
      display: block;
      
    }
  .order-registration__title {
    padding-top: 90px;
  }
  .order-registration__form {
    padding-bottom: 75px;
  }  
  .form-order__aside {
    flex-wrap: wrap;
    padding-bottom: 50px;
    }
  .form-order__range{
    width: 100%;
    padding-bottom: 30px;
  }
  .range__slide {
    max-width: 100%;
  }
  .form-order__file{
    margin: 0 auto;
  }
  .work__item::before {
    right: -80px;
}
.work__item:nth-child(4)::before{
  right: -110px;
  } 
//

.footer__payment {
  width: 100%;
  padding-bottom: 20px;
}
.footer__social {
  width: 100%;
  padding-left: 0px;
}
.payment__items {
  justify-content: center;
}
.payment__items::after {
  content: none;
}
.social__items {
  justify-content: center;
}


}

@media (max-width: 600px){
  .header-content__title {
    padding-top: 150px;
    padding-bottom: 45px;
    max-width: 425px;
  }
  .title {
    font-size: 35px;
  }
  .header-content__items {
    padding-bottom: 70px;
  }
  .header-content__buttom {
    padding-bottom: 90px;
}
.work__item::before {
  right: -95px;
}
.work__item:nth-child(4)::before {
  right: -100px;
}
}


@media (max-width: 480px){
  .header-content__wrapper {
    padding-left: 15px;
  }
  .logo__img{
    width: 190px;
    height: auto;
  }
  .menu__link {
    padding: 18px 30px;
  }
  
  .header-content__btn + .header-content__btn {
    margin-left: 0px;
  }
  .header-content__btn {
    margin-bottom: 20px;
  }

  .order-registration__title {
    padding-top: 74px;
}
.order-registration__text {
  padding-bottom: 60px;
}
.work__item {
  width: 50%;
}
.work__item::before{
  content: url(../images/Ellipse3.svg);
  right: -29px;
}
.work__item:nth-child(3n)::before{
  content: url(../images/Ellipse3.svg);
  }
.work__item:nth-child(2n)::before{
  content: none;
  }
}


@media (max-width: 375px) {
  .title {
    line-height: 44px;
}
  .header-content__title {
    padding-top: 140px;
    padding-bottom: 40px;
    max-width: 360px;
  }
  .title {
    font-size: 25px;
  }
  .header-content__items {
    padding-bottom: 60px;
  }
  .header-content__buttom {
    padding-bottom: 80px;
  }
  
  .header-content__item {
    font-size: 18px;
  }
  .header-content__slogan {
    font-size: 20px;
  }
  .menu__link {
    padding: 18px 24px;
  }
  .order-registration__title {
    padding-top: 55px;
  }
  .order-registration__text {
    padding-bottom: 45px;
  }
  .order-registration__work {
    padding-bottom: 35px;
  }
  .order-registration__form {
    padding-bottom: 60px;
  }
  .form-order__aside {
    padding-bottom: 40px;
  }
  .menu__item {
    font-size: 20px;
}
.form-order__btn {
  width: 270px;
  padding: 17.5px 95px;
}
.file__button {
  max-width: 270px;
  padding: 12px 40px;
}
.payment__item + .payment__item {
  padding-left: 5px;
}
.payment__name {
  padding-left: 3px;
}
.social__item + .social__item {
  padding-left: 20px;
}
}

@media (max-width: 320px) {
  .logo__img {
    width: 175px;
  }
  .header-content__title {
    padding-top: 125px;
    padding-bottom: 30px;
    max-width: 300px;
  }
  .title {
    font-size: 20px;
    line-height: 35px;
  }
  .header-content__items {
    padding-bottom: 40px;
  }
  
  .header-content__wrapper {
    padding-left: 10px;
}
  .header-content__btn {
    width: 270px;
    text-align: center;
    margin-bottom: 15px;
  }
  .header-content__btn-detail{
    width: 270px;
    text-align: center;
    margin-bottom: 15px;
  }
  .header-content__buttom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
  }
  .menu__link {
    padding: 18px 22px;
  }
  .work__item::before {
    right: -56px;
  }
  .form-order__input {
    width: 100%;
    padding-bottom: 10px;
}
.form-order__input + .form-order__input {
  padding-left: 0px;
}
.social__item + .social__item {
  padding-left: 15px;
}
.payment__name {
  padding-left: 10px;
}
.social__info {
  padding-left: 7px;
}
}
